<!DOCTYPE html>
<html>
<head>
    <title>Create Post</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="header">
  <h1>Create Update</h1>
  <div class="header-right">
    <a href="/">Home</a> |
    <a href="/logout">Logout</a>
  </div>
</div>

<div class="container">

  <div class="post-card">
    <form action="/create-post" method="post" enctype="multipart/form-data">

      <textarea
        name="description"
        placeholder="What’s happening in college?"
        required></textarea>

      <input type="file" name="image" accept="image/*" onchange="previewImage(event)">

      <img id="preview">

      <button type="submit" class="post-btn" id="sumbitBtn">Post Update</button>

    </form>
  </div>

</div>

<script>
function previewImage(event) {
  const img = document.getElementById("preview");
  img.src = URL.createObjectURL(event.target.files[0]);
  img.style.display = "block";
}
document.querySelector("form").addEventListener("submit", function () {
  const btn = document.getElementById("submitBtn");
  btn.innerText = "Posting...";
  btn.disabled = true;
  btn.style.opacity = "0.7";
});
</script>

</body>
</html>
