<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">

    <title>Campus Updates</title>
</head>
<body>

<div class="header">
{% if request.session.get("user") %}
  <p>
    👋 {{ request.session.get("user")["name"] }}
    | <a href="/logout">Logout</a>
  </p>
{% else %}
  <a href="/login">Continue with Google</a>
{% endif %}
</div>

<h1>Campus Updates</h1>

{% if request.session.get("user") %}
  <a href="/new-post" class="post-btn">➕ Post an Update</a>
{% else %}
  <a href="/login">➕ Post an Update</a>
{% endif %}

<hr>

<h2>Latest Updates</h2>

{% for post in posts %}
<p style="font-weight:bold;">
  {{ post.author_name }}
</p>

  <div class="post-card">
      <p>{{ post.description }}</p>
    
    
  {% if post.image %}
    <div class="post-image">
      <img src="/static/uploads/{{ post.image }}" alt="Post image">
    </div>
  {% endif %}


      <div class="post-time">
        {{ ist_time(post.created_at) }}</div>
  </div>
{% endfor %}

{% if posts|length == 0 %}
  <p>No updates yet. Be the first to post!</p>
  <p><strong>{{ post.author_name }}</strong></p>
<p>{{ post.description }}</p>

{% if post.image %}
  <img src="/static/uploads/{{ post.image }}" style="max-width:100%;">
{% endif %}

<small>{{ post.created_at }}</small>

{% if request.session.get("user") and request.session.get("user")["email"] == post.author_email %}
  <form method="post" action="/delete-post/{{ post.id }}">
      <button type="submit">🗑 Delete</button>
  </form>
{% endif %}

{% endif %}

</body>
</html>
